.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* width: 300px; */
  max-width: 26rem;
  border-radius: 1rem;
  background-color: white;
  color: #374151;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-image {
  position: relative;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #64748b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-image img {
  /* width: 100%; */
  /* height: auto; */
  /* width: 300px; */
}

.image-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    transparent,
    transparent,
    rgba(175, 163, 163, 0.6)
  );
}

.heart-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  color: #ef4444;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.heart-button:hover {
  background-color: rgba(226, 181, 181, 0.1);
}

.heart-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.card-content {
  padding: 4px 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.card-header h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #1e293b;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 1rem;
  color: #1e293b;
}

.star-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(254, 216, 0);
}

.description {
  font-size: 1rem;
  font-weight: 300;
  color: #4b5563;
  line-height: 1.5;
}

.card-footer {
  padding: 0.5rem;
  padding-top: 0.1rem;
}

.des-of-courses{
  font-size: 0.75rem;
}

.reserve-button {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color-hover);
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}

.reserve-button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--primary-color);
  color: white;
}
.container-cart {
  width: 95%;
  padding: 40px 20px;
  display: grid;
  gap: 15px;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1224px) {
  .container-cart {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  .container-cart {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 724px) {
  .container-cart {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 456px) {
  .container-cart {
    grid-template-columns: repeat(1, 1fr);
  }
}
.des-of-courses {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.des-of-courses > .fa-check {
  color: rgb(16, 150, 11);
}
